@page "/getintouch"

<div class="text-center border rounded my-3">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>0533411 60 83</p>

        <i class="fa-solid fa-address-book text-primary my-3"></i>
        <p>Fatih Sultan Mehmet Cad. No:58</p>

        <i class="fa-solid fa-envelope text-primary my-3"></i>
        <p>muratakgolll@hotmail.com</p>
    </div>
</div>
